---
# Этот файл является примером конфигурации для Clang Format

# Основные параметры
BasedOnStyle: Google

# Дополнительные параметры (по вашему усмотрению)
ColumnLimit: 180
# AllowShortIfStatementsOnASingleLine: true
# ...
